<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>MercadoLibros</title>
    <link rel="stylesheet" href="/css/nav-bar.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <!-- Nav-bar & Categories -->
    <%- include("./partials/nav-bar.ejs") %>

    <!-- Books -->

    <main>
      <div class="productos">
        <h2>Explorá</h2>

        <% const categories = ['Destacados', ...(new
        Set(libros.map(libro=>libro.category)))] %> <%
        categories.map(category=>{ %>
        <section>
          <div class="productos-texto-container">
            <h3 class="productos-texto"><%= category %></h3>
            <a href="#" class="ver-mas">Ver más</a>
          </div>
          <div class="libros">
            <% if(category !== 'Destacados'){ %> <% libros.filter(libro =>
            libro.category === category).map( libro => { %> <%-
            include("./partials/libro.ejs", {libro}) %> <% })} else { %> <%
            libros.filter(libro => libro.id < 7 && libro.id > 1).map(libro =>{
            %> <%- include("./partials/libro.ejs", {libro}) %> <% })} %>
          </div>
        </section>
        <% }) %>
      </div>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
