<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>MLibros (con DB)</title>
    <link rel="stylesheet" href="/css/nav-bar.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/publicacionesactivas.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  
  <body>
    <!-- Nav-bar & Categories -->
    <%- include("./partials/nav-bar.ejs", {authUser}) %>

    <!-- Books -->
      <main>
        <h2>Explorá las novedades</h2>
        <section class="publicaciones-container">
          
            <% publicaciones.forEach(publicacion => { %> 
              <article class="publicacion">

                  <div class="libro">
                      <a href="/producto/detalle/<%= publicacion.id %>"><img src="/img/publicacion_img/<%= publicacion.foto %>" alt="imagen-publicacion"></a>
                  </div>

                  <div class="detalle-container">
                      <h3>ISBN</h3>
                      <p><%= publicacion.libro.isbn %></p>
                      <h3>Titulo</h3>
                      <p><%= publicacion.libro.titulo %></p>
                      <br>
                      <h3>Precio:</h3> 
                      <p>$<%= publicacion.precio %></p>
                  </div>

              </article>
            <% }) %> 
        </section>
    </main>
  
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
