<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>MercadoLibros</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/producto.css" />
    <link rel="stylesheet" href="/css/nav-bar.css" />
  </head>
  <body>

    <% const { name, author, img, description, price} = libro[0] %>

    <!-- Nav-bar & Categories -->
    <%- include("./partials/nav-bar.ejs") %>

    <!-- Main -->
    <main>
      <section class="producto-wrapper">
        <h1><%= name %></h1>
        <div class="imagen-producto-wrapper">
          <img
            class="img-producto"
            img src="<%= img %>" 
            alt="<%= name %>"
          />
        </div>

        <h2 class="precio">$<%= price %></h2>

        <section class="descripcion">
          <article class="descripcion-producto">
            <h3>Descripcion:</h3>
            <p>
              <%= description %> 
            </p>
          </article>
          <article class="descripcion-vendedor">
            <h3>Datos del vendedor:</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
              delectus provident quibusdam nihil quia aliquid tempore pariatur
              quasi eveniet, nostrum consequuntur itaque nam facere. Quasi autem
              voluptas error fuga sequi!
            </p>
          </article>
        </section>

        <section class="botones-wrapper">
          <button type="submit">Comprar ahora</button>
          <button type="submit">Agregar al carrito</button>
        </section>
      </section>
    </main>
    <!-- Footer -->
    <footer>
      <p>Todos los derechos reservados 2021 - Grupo 11 - MercadoLibros®</p>
    </footer>

  </body>
</html>
