<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MercadoLibro</title>
    <link rel="stylesheet" href="/css/nav-bar.css" />
    <link rel="stylesheet" href="/css/allUsers.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <%- include("../partials/nav-bar.ejs") %>
    <main>
      <h1>Listado de Usuarios</h1>
      <section>
        <% usuarios.forEach(usuario => { %>
        <article>
          <img src="<%= usuario.img_url %>" alt="Imagen de perfil" />
          <h2><%= usuario.nombre %> , <%= usuario.apellido %></h2>
        </article>
        <% }) %>
      </section>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
