<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MercadoLibros</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/nav-bar.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>

  <body>
    <%- include("../partials/nav-bar.ejs") %>
    <main>
      <section>
        <div class="sign-in">
          <i class="fas fa-user-circle"></i>
          <h3>¿Todavia no estas registrado?</h3>
          <a href="/user/register">Crea tu cuenta</a>
        </div>

        <div class="hero">
          <div class="trian"></div>
          <div class="sign-up">
            <i class="fas fa-unlock-alt"></i>
            <% if (locals.invalidUser) {%>
            <div class="text-danger-validator">
              <h3><%= locals.invalidUser.msg %></h3>
            </div>
            <%}%>
            <form class="form-signin-data" action="/user/login/" method="POST">
              <div class="form-inputs">
                <article>
                  <label for="emailUsuario">Email</label>
                  <input type="email" name="emailUsuario" id="emailUsuario" value="<%= locals.oldBody ? oldBody.emailUsuario : null %>"/>
                  <% if(locals.errors && errors.emailUsuario) {%>
                    <div class="text-danger-validator">
                      <p><%= errors.emailUsuario.msg%></p>
                    </div>
                  <%}%>
                </article>
                <article>
                  <label for="passUsuario">Contraseña</label>
                  <input type="password" name="passUsuario" id="passUsuario" value="<%= locals.passUsuario ? oldBody.passUsuario : null %>"/>
                  <% if(locals.errors && errors.passUsuario) {%>
                    <div class="text-danger-validator">
                      <p><%= errors.passUsuario.msg%></p>
                    </div>
                  <%}%>
                </article>
              </div>

              <div>
                <label class="terminos"
                  >Recordar Sesion
                  <input type="checkbox" />
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="submit">
                <button type="submit">Ingresar</button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
