<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MercadoLibros</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/nav-bar.css" />
    <link rel="stylesheet" href="/css/userDetails.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>

  <body>
    <%- include("../partials/nav-bar.ejs", {authUser:authUser}) %>
    <main>
      <h1 class="title">Detalle de usuario</h1> 
      <article>
        <div class="user-data-container">
          <div class="avatar-container">
            <p>Bienvenido!</p>
            <div>
              <img src="/img/user_img/<%=authUser.img_url%>" class="user-avatar" alt="user-avatar">
            </div>
          </div>
          <div class="userDetails-container">
            <div>
              <ul class="user-detail-list">
                <li><span class="span-titulos">Nombre</span><span class="span-user-data"><%= authUser.nombre%></span> </li>
                <li><span class="span-titulos">Apellido</span><span class="span-user-data"><%= authUser.apellido%></span></li>
                <li><span class="span-titulos">Email</span><span class="span-user-data"><%= authUser.email%></span></li>
                <li><span class="span-titulos">DNI</span><span class="span-user-data"><%= authUser.dni%></span></li>
                <li><span class="span-titulos">Direccion</span><span class="span-user-data"><%= authUser.direccion%></span></li>
                <li><span class="span-titulos">Localidad</span><span class="span-user-data"><%= authUser.localidad%></span></li>
                <li><span class="span-titulos">Provincia</span><span class="span-user-data"><%= authUser.provincia%></span></li>
                <li><span class="span-titulos">Pais</span><span class="span-user-data"><%= authUser.pais%></span></li>
                <li><span class="span-titulos">Telefono</span><span class="span-user-data"><%= authUser.telefono%></span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="button-container">
          <button>Editar</button> 
        </div>              
      </article>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
