<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <title>MercadoLibros</title>

    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/producto.css" />
    <link rel="stylesheet" href="/css/nav-bar.css" />
  </head>
  <body>

    <!-- Nav-bar & Categories -->
    <%- include("../partials/nav-bar.ejs") %>

    <!-- Main -->
    <main>
      <section>
        <div class="details">
          <article class="detalle-publicacion">
            <div class="info-publicacion">
              <div>
                <h3>Publicacion # </h3>
                <p><%= publicacion.id %></p>
              </div>
              <div>
                <h3>Titulo:</h3>
                <p><%= libro.titulo %></p>
              </div>
              <div>
                <h3>Estado:</h3>
                <p><%= publicacion.estado_libro=="N"?"Nuevo":"Usado" %></p>
              </div>
            </div>
            <div class="info-libro">
              <div>
                <h3>Detalle:</h3>
                <p><%= publicacion.detalle %></p>
              </div>
              <div>
                <h3>Editorial:</h3>
                <p><%= libro.editorial.nombre %></p>
              </div>
              <div>
                <h3>Edicion:</h3>
                <p><%= libro.edicion %></p>
              </div>
              <div>
                <h3>ISBN:</h3>
                <p><%= libro.isbn %></p>
              </div>
              <div>
                <h3>Autor:</h3>
                <p><%= libro.autores.apellido %>, <%= libro.autores.nombre %></p>
              </div>  
            </div>
            <div class="info-vendedor">
              <div>
                <h3>Ubicacion:</h3>
                <p><%= usuario.localidad %> | <%= usuario.provincia %></p>
              </div> 
            </div>
          </article> 
          <article class="buttons">
            <a href=""><button>Comprar</button></a>
            <a href=""><button>Agregar al Carrito</button></a>
          </article>
        </div>
        <div class="hero">
          <div class="product-img">
            <img src="/img/publicacion_img/<%= publicacion.foto %>" alt="" />
          </div>
        </div>
      </section>
    </main>
    <!-- Footer -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
