<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>MercadoLibros</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/producto.css" />
    <link rel="stylesheet" href="/css/nav-bar.css" />
  </head>
  <body>
    <% const { id, name, author, category, img, description, price, idseller} =
    libro[0] %>

    <!-- Nav-bar & Categories -->
    <%- include("../partials/nav-bar.ejs") %>

    <!-- Main -->
    <main>
      <section>
        <div class="details">
          <h1><%= name %></h1>
          <div class="description">
            <p>Descripcion:</p>
            <p><%= description %></p>
          </div>
          <img src="<%= img %>" alt="<%= name %>" class="mobile-img" />
          <div class="price">
            <h4>$<%= price %></h4>
            <p class="quantity">1</p>
          </div>
          <div class="buttons">
            <button class="add-to-cart">Agregar Al Carrito</button>
            <button class="comprar">Comprar</button>
          </div>
        </div>
        <div class="hero">
          <div class="trian"></div>
          <div class="product-img">
            <img src="<%= img %>" alt="<%= name %>" />
          </div>
        </div>
      </section>
    </main>
    <!-- Footer -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
